/*
    Tags selectors
*/

html * {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
    background-color: black;
    top:0;
    left:0;
    margin: auto;
    width: 50%;
}

/*
    Classes Selectors
*/
.container {
    background-color: white;
    width: 600px;
    margin-top: 4rem;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
}

.left_side {
    display: inline-flex;

}

.icon {
    padding: 10px;
    font-size: large;
}

.emblem {
    
}

.right_side {
    padding-right: 10px;
}

.content {

}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.footer{
    padding-top: 20px;
    font-size: xx-large;
}

.far fa-bookmark {
    float: right;
}

.action {
    padding: 20px;
}

.comment {
    padding: 20px;
}
